* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    body {
        min-height: 100%;
        background: #eee;
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
        font-weight: 400;
        color: #222;
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 50px;
    }
}

.container {
    max-width: 700px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;
    padding: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin-bottom: 30px;
}

.header .full-name {
    font-size: 40px;
    margin-bottom: 5px;
}

.header .first-name {
    font-weight: 700;
}

.header .last-name {
    font-weight: 300;
}

.header .contact-info {
    margin-bottom: 20px;
}

.header .email,
.header .phone {
    color: grey;
    font-weight: 300;
}

.header .separator {
    border-left: 2px solid grey;
    height: 10px;
    display: inline-block;
    margin: 0 10px;
}

.header .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
}

.details {
    line-height: 20px;
}


.details .section {
    margin-bottom: 40px;
}

.details .section:last-of-type {
    margin-bottom: 0px;
}

.details .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
}

.details .section__list-item {
    margin-bottom: 40px;
}

.details .section__list-item:last-of-type {

    margin-bottom: 0;
}

.section__list-item,
.details .skills__item {
    display: flex;
    justify-content: space-between;
}

.details .right {
    text-align: right;
}

.details .name {
    font-weight: bold;
}

.details .skills__item {

    margin-bottom: 10px;
}

input {
    display: none;
}

label {
    /* 转换为行内块元素 */
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: rgb(184, 238, 238);
    margin-right: 3px;
}

/* 选择时改变标签背景色 */
input:checked+label {
    background: rgb(20, 239, 239);
}